.jobs{
    > .ng-fa-icon{
        position: absolute;
        opacity: 0.1;
        top: -60px;
        left: -20px;
        z-index:1;
        transform: rotate(40deg);
        // color: #898989;
    }
    .card-body{
        position: relative;
        z-index: 2;
    }
    .progress{
        height: 8px;
    }
    h4{
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
    }
    .accordion{
        .accordion-button{
            display: block;
            position: absolute;
            left: -8px;
            width: 22px;
            height: 22px;
            top: 12px;
            &::after{
                position: absolute;
                left: 0;
                top: 0;
                color: white;
                background-size: 16px;
                background-position: center;
            }
        }
        .accordion-button:not(.collapsed){
            background-color: inherit !important;
            box-shadow: inherit !important;
        }
        .accordion-body{
            .list-group-item{
                border-left: 1px solid rgb(224, 224, 224);;
            }
        }
    }
}