<div class="card task overflow-hidden mb-3 shadow ">
    <!-- <fa-icon [icon]="faIcons.faBgIcont" class="fa-10x"></fa-icon> -->
    <div class="card-header">
        <h4 class="m-0">Asset Subsystems</h4>
    </div>
    <div class="card-body ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent position-relative">
                <app-sub-task></app-sub-task>              
            </li>
            <li class="list-group-item bg-transparent"><app-sub-task></app-sub-task></li>
        </ul>        
    </div>
    <div class="progress rounded-0" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 3px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
    </div>
</div>