// @import "node_modules/bootstrap/scss/variables";
$black  :#000;
$white  :#fff;
.signin{
    //HEADING SECTION
    h3{
        font-size: 28px;
        color: $black;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }

    //COVER BG
    .img{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .wrap{
        width: 100%;
        overflow: hidden;
        background: $white;
        border-radius: 5px;
        -webkit-box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
        -moz-box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
        box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
    }

    .login-wrap{
        position: relative;
        background: $white
        h3{
            font-weight: 300;
        }
    }


    .form-group{
        position: relative;
        .label{
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $black;
            font-weight: 700;
        }
        input{
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
        }
        a{
            color: lighten($black,50%);
        }
    }
}